body {
    background-color: #f4f6f8;
}

.sidebar {
    width: 240px;
    height: 100vh;
    background: #0f172a;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.logo {
    padding: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom: 1px solid #1e293b;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li a {
    display: block;
    padding: 12px 20px;
    color: #cbd5f5;
    text-decoration: none;
}

.menu li a:hover {
    background: #1e293b;
    color: #fff;
}

.menu li a i {
    margin-right: 10px;
}

.content {
    margin-left: 240px;
    padding: 20px;
}
